.carouselContent {
    max-width: 100%;
    height: 600px;
  }

  .carouselText {
      font-size: 3rem;
      color: #381010;
      letter-spacing: 7px;
      text-shadow: 1.5px 1.5px rgb(255, 255, 255);
      font-weight: bold;
  }