.homeTitle {
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color: #faec6f;
      letter-spacing: 7px;
      text-shadow: 2px 2px rgb(255, 115, 0);
      font-weight: bold;
}

.navTitle {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: #f7f5e0;
      letter-spacing: 7px;
      text-shadow: 2px 2px rgb(255, 115, 0);
      font-weight: bold;
}

.theNav {
    background-color: rgba(63, 114, 63, 0.76);
}

.gardenCard{
    background-color: rgba(146, 28, 28, 0.781);
    border-radius: 30px;
}

.descript {
  background-color: rgba(146, 28, 28, 0.781);
  border-radius: 15px;
  margin-left: 125px;
  margin-right: 125px;
}

.nav-text {
    font-size: 1.2rem;
}

@media only screen and (max-width: 375px) {
    .homePageImg{
      height: 200px;
    }
  }
  
  @media only screen and (min-width: 619px) {
    .homePageImg{
      height: 390px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .homePageImg{
      height: 485px;
    }
  }
  
  @media only screen and (min-width: 892px) {
    .homePageImg{
      height: 550px;
    }
  }

  @media only screen and (min-width: 975px) {
    .homePageImg{
      height: 615px;
    }
  }
  
  @media only screen and (min-width: 1100px) {
    .homePageImg{
      height: 675px;
    }
  }
  
  @media only screen and (min-width: 1400px) {
    .homePageImg{
      height: 690px;
    }
  }
  @media only screen and (min-width: 1550px) {
    .homePageImg{
      height: 725px;
    }
  }

  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1px;
  }

  @media only screen and (max-width: 375px) {
    .broccoli {
      height: 200px;
      
    }
  }
  
  @media only screen and (min-width: 619px) {
    .broccoli {
      height: 390px;
      margin:0 0 0 -60px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .broccoli {
      height: 485px;
      margin:0 0 0 -90px;
    }
  }
  
  @media only screen and (min-width: 892px) {
    .broccoli {
      height: 485px;
      margin:0 0 0 -30px;
    }
  }

  @media only screen and (min-width: 975px) {
    .broccoli {
      height: 500px;
      margin:0 0 0 -30px;
    }
  }
  
  @media only screen and (min-width: 1100px) {
    .broccoli {
      height: 550px;
      margin:0 0 0 0px;
    }
  }

  @media only screen and (min-width: 1300px) {
    .broccoli {
      height: 560px;
      margin:0 0 0 10px;
    }
  }
  
  @media only screen and (min-width: 1400px) {
    .broccoli {
      height: 590px;
      margin:0 0 0 10px;
    }
  }
  @media only screen and (min-width: 1550px) {
    .broccoli {
      height: 700px;
      margin:0 0 0 -10px;
    }
  }