.homeTitle {
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color: #faec6f;
      letter-spacing: 7px;
      text-shadow: 2px 2px rgb(255, 115, 0);
      font-weight: bold;
}

.navTitle {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    color: #f7f5e0;
      letter-spacing: 7px;
      text-shadow: 2px 2px rgb(255, 115, 0);
      font-weight: bold;
}

.theNav {
    background-color: rgba(44, 82, 44, 0.836);
}

.nav-text {
    font-size: 1.2rem;
}