.myModal {
  background-color: rgba(63, 114, 63, 0.76);
  color: white;
}
.myModalHeader {
  background-image:  url("https://user-images.githubusercontent.com/67443077/102302192-1e9b6000-3f1e-11eb-85b1-f1efd942ae3f.jpeg");
  
}
